<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-right image">
                <img src="~/Adminfiles/dist/img/admin.ico" class="img-circle" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>ادمین سایت</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i></a>
            </div>
        </div>

     
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <!-- Optionally, you can add icons to the links -->
            <li class="treeview active">

                <ul class="treeview-menu">
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-user"></i><span>مدیریت کاربران</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Student" asp-action="Index">  <i class="ion ion-university"></i>دانشجو </a></li>
                            <li><a asp-controller="Teacher" asp-action="Index">  <i class="fa fa-university"></i>استاد </a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="Personel" asp-action="Index">  <i class="fa fa-university"></i>پرسنل </a></li>
                            }
                        </ul>
                    </li>


                </ul>
                <ul class="treeview-menu">
                    <li class="treeview active">
                        <a>
                            <i class="fa fa-book"></i><span>مدیریت کتاب ها</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Books" asp-action="Index"><i class="ion ion-ios-book"></i> مدیریت کتاب ها</a></li>
                            <li><a asp-controller="Books" asp-action="GetReserveBook">  <i class="fa fa-book"></i>کتاب های رزرو شده </a></li>
                            <li><a asp-controller="Books" asp-action="GetBorrowBook">  <i class="fa fa-book"></i>کتاب های امانت داده شده </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="treeview-menu">
                    <li class="treeview active">
                        <a>
                            <i class="fa fa-book"></i><span>جریمه ها</span>
                            <span class="pull-left-container">
                                <i class="fa fa-angle-right pull-left"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Books" asp-action="GetReservePenalty"><i class="ion ion-ios-book"></i> لیست جریمه رزرو ها</a></li>
                            <li><a asp-controller="Books" asp-action="GetBorrowPenalty">  <i class="fa fa-book"></i>لیست جریمه امانت ها</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a asp-controller="News" asp-action="Index"><i class="fa fa-newspaper-o"></i> <span>مدیریت اخبار</span></a></li>
            <li><a asp-controller="Setting" asp-action="Index"><i class="ion ion-settings"></i> <span>تنظیمات</span></a></li>
            <li><a asp-controller="Account" asp-action="LogOut"><i class="ion ion-log-out"></i> <span>خروج</span></a></li>
            
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>