@model Services.Dto.BookDto

@{

    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";

}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2>افزودن کتاب</h2>
    </div>
    <div class="panel-body">
        <style>
            .circleInput {
                border-radius: 3px;
            }
        </style>

        <div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
            <form id="formId" asp-area="Admin" asp-controller="Books" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-4 col-lg-4" style="margin-bottom:15px; margin-top:15px;">
                    <div class="form-group">
                        <label>تعداد کتاب</label>
                        <input type="text" id="isbncount" value="" class="form-control circleInput" onkeyup="create_isbn_input()" />
                    </div>
                    <div id="isbntag" class="form-group">

                    </div>
                </div>
                <div class="col-md-4  col-lg-4" style="margin-bottom:15px; margin-top:15px;">

                    @* نام کتاب *@
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control circleInput" placeholder="" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    @*ISBN *@
                    @*<div class="form-group">
            <label asp-for="ISBN" class="control-label"></label>
            <input asp-for="ISBN" class="form-control circleInput" placeholder="" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>*@

                    @*نویسنده *@
                    <div class="form-group">
                        <label asp-for="AuthorName" class="control-label"></label>
                        <input asp-for="AuthorName" class="form-control circleInput" placeholder="" />
                        <span asp-validation-for="AuthorName" class="text-danger"></span>
                    </div>


                    @*ناشر *@
                    <div class="form-group">
                        <label asp-for="Publisher" class="control-label"></label>
                        <input asp-for="Publisher" class="form-control circleInput" placeholder="" />
                        <span asp-validation-for="Publisher" class="text-danger"></span>
                    </div>

                    @* سال انتشار*@
                    <div class="form-group">
                        <label asp-for="PublishYear" class="control-label"></label>
                        <input asp-for="PublishYear" class="form-control circleInput" placeholder="" />
                        <span asp-validation-for="PublishYear" class="text-danger"></span>
                    </div>


                    @* ویراست*@
                    <div class="form-group">
                        <label asp-for="Edition" class="control-label"></label>
                        <input asp-for="Edition" class="form-control circleInput" placeholder="" />
                        <span asp-validation-for="Edition" class="text-danger"></span>
                    </div>




                    @* زبان *@
                    <div class="form-group">
                        <label asp-for="Language" class="control-label"></label>
                        <select asp-for="Language" class="form-control circleInput">
                            <option value="1">فارسی</option>
                            <option value="2">انگلیسی</option>
                        </select>
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>

                    @*  رشته *@
                    <div class="form-group">
                        <label class="control-label">رشته</label>
                        <select class="form-control circleInput" name="FieldId">
                            <option value="1">عمومی</option>
                            <option value="2">مهندسی کامپیوتر</option>
                            <option value="3">علوم کامپیوتر</option>
                            <option value="4">مهندسی صنایع</option>
                            <option value="5">مهندسی مکانیک</option>
                            <option value="6">مهندسی عمران</option>
                        </select>
                        @*<span asp-validation-for="Fields" class="text-danger"></span>*@
                    </div>

                  


                    @* تصویر *@
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <div class="form-horizontal">
                            <input asp-for="ImageUrl" type="file" id="files" name="files" />
                            <input type="button" onclick="UploadImage()" id="btnupload" class="btn btn-info" value="آپلود و نمایش تصویر" />
                        </div>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <input type="submit" value="ایجاد" class="btn btn-success formSubmit" />
                        <a asp-action="Index" class="btn btn-danger">بازگشت</a>
                    </div>

                    <input type="text" class="hidden" id="imagename" name="imagename" />

                    @if (ViewBag.SuccessMessage != "")
                    {
                        <span style="color:green;">
                            @ViewBag.SuccessMessage
                        </span>
                    }
                </div>

            </form>
            <div class="col-md-4 col-lg-4" style="margin-top:25px; margin-bottom:25px;">
                <div class="col-md-10 col-md-offset-1">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-light-blue-active text-center">
                            <h3 class="widget-user-username">تصویر کتاب</h3>
                        </div>
                    </div>


                    <div class="form-group">
                        <img id="imgbook" class="img-bordered col-md-12 col-xs-12 col-sm-12"
                             src="~/upload/image/book/normalimage/defaultbookimage.png" alt="BookImage"
                             style="height:350px;" />
                    </div>

                    <div id="divmessage" class="text-center hidden" style="color:green;">

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>




@section PanelScripts {
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        var UploadImage = function () {
        var data = new FormData();
        var file = $('#files').get(0);
        var files = file.files;
        for (var i = 0; i < files.length; i++) {
            data.append('files', files[i]);
        }
        $.ajax({
            type: 'post',
            url: '@Url.Action("UploadImage", "Books", new { area = "Admin" })',
            data: data,
            contentType: false,
            processData: false
        })
            .done(function(result) {
            if (result.status == 'success') {
                // var imageurl = "\\upload\\image\\normalimage\\" + result.imagename;
                $('#imgbook').attr('src', '\\upload\\image\\\\book\\normalimage\\' + result.imagename);
                $('#divmessage').removeClass('hidden');
                $('#divmessage').text('تصویر با موفقیت آپلود شد');
                $('#imagename').val(result.imagename);
            }
            })
            .fail(function(result) {
            if (result.status != 'success') {
                $('#divmessage').removeClass('hidden');
                $('#divmessage').text('در هنگام آپلود مشکلی رخ داد');
            }
            });
        };
        var create_isbn_input = function() {
        var count = parseInt($('#isbncount').val());
        document.getElementById('isbntag').innerHTML = '';
        for (var i = 1; i <= count; i++) {
                var message = 'شابک کتاب ' + i + ' ';
                var input = ' <input type="text" data-message="' + message + '" id="isbn' + i + '" class="form-control circleInput" value="" name="BooksISBN[]"   />';
                var lable = '<lable for="isbn' + i + '">' + message + '</lable>';
                $('#isbntag').append(lable);
                $('#isbntag').append(input);
            }
    };
    var ISBNValidation = function(value) {
        //var _value = value;
        //var validate = _value.match("[0-9]{13}|[0-9]{10}");
        //if (validate)
        //    {
        //        var count = _value.length;
        //        //var cArray = _value.split('').join(',');
        //        var cArray = _value;
        //        if (count == 10)
        //        {
        //            var s = 0;
        //            for (var i = 10; i >= 1; i--)
        //            {
        //                s += parseInt(i * cArray[10 - i]);
        //            }
        //            if (s % 11 == 0)
        //                return true;
        //            else
        //                return false;
        //        }
        //        else if (count == 13)
        //        {
        //            var s = 0;
        //            for (var i = 12; i >= 1; i--)
        //            {
        //                //console.log(cArray[i]);
        //                //console.log(parseInt(cArray[i]));
        //                //console.log(s);
        //                //console.log('__________***************___________');

        //                if (i % 2 == 0)
        //                    s += parseInt(cArray[12-i]);
        //                else
        //                    s += parseInt((3 * cArray[12 - i]));
        //            }
        //            s -= parseInt(cArray[12]);
        //            //console.log('__________+++++++++++++++++___________');
        //            //console.log(s);
        //            if (s % 10 == 0)
        //                return true;
        //            else if (s % 10 != 0)
        //                return false;

        //        }
        //        else
        //            return false;

        //    }
        //    else
        //    {
        //        return false;
        //    }
        //    return false;

        return true;
    }
    //*************************************************************************************
     //این کد برای بررسی صحت شابک است . در صورت عدم صحت پیام خطایی نمایش داده می شود
        $(document).on('blur', '#isbntag input', function(e) {
        var ISBN = $(this).val();
           var message = $(this).attr("data-message");
            console.log(message);
            console.log(ISBN);

        if (!ISBNValidation(ISBN)) {
            toastr.error(message + ' را با فرمت صحیح وارد کنید ');
        }
        });
    //*************************************************************************************



    //*************************************************************************************
  $('.formSubmit').click(function (e) {
      e.preventDefault();
      var ISBNs = new Array();
      var validation = true;
      $('#isbntag input').each(function (index, value) {
        var v = $(this).val();
        ISBNs.push(v);
        var message = $(this).attr('data-message');
        if (!ISBNValidation(v)) {
          validation = false;
          toastr.error(message + ' را با فرمت صحیح وارد کنید ');
        }
      });
      if (validation) {
        $('#formId').submit();
      }
    });


    </script>
}
