@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>500 Error</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link href="~/lib/Error/css/style.css" rel="stylesheet" />
   
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>500</h1>
                <h2>خطایی در سرور رخ داده است</h2>
            </div>
            @Html.ActionLink("صفحه اصلی", "Index", "Home")
        </div>
    </div>

</body>

</html>
