
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_UserPanel.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">

                    <li class="breadcrumb-item bcrumb-1">
                        <a href="index.html">
                            <i class="fas fa-home"></i> داشبورد
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-green">

                <div class="text m-b-10"> درآمد</div>
                <h3 class="m-b-0">
                    877,000 تومان
                    <i class="material-icons">trending_up</i>
                </h3>
                <br>
                <medium class="displayblock">امروز 83,000 تومان </medium>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-orange">

                <div class="text m-b-10">سفارشات  </div>
                <h3 class="m-b-0">
                    1236
                    <i class="material-icons">trending_up</i>
                </h3>
                <br>
                <medium class="displayblock">امروز 13</medium>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-red">

                <div class="text m-b-10"> کاربران </div>
                <h3 class="m-b-0">
                    1665
                    <i class="material-icons">trending_down</i>
                </h3>
                <br>
                <medium class="displayblock">امروز 32 </medium>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="support-box text-center bg-cyan">

                <div class="text m-b-10"> فروش</div>
                <h3 class="m-b-0">
                    7,877,000 تومان
                    <i class="material-icons">trending_down</i>
                </h3>
                <br>
                <medium class="displayblock">امروز 345,000 تومان</medium>
            </div>
        </div>

    </div>
</div>
