<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>صفحه اصلی</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

    <!-- Fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Khula:400,800,700,600,300' rel='stylesheet' type='text/css'>

    <!-- CSS  -->
    <!-- Persian Fonts CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/persian.fonts.css">

    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/bootstrap.min.css">

    <!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/owl.carousel.css">

    <!-- owl.theme CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/owl.theme.css">

    <!-- owl.transitions CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/owl.transitions.css">

    <!-- font-awesome.min CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/font-awesome.min.css">

    <!-- jquery.fancybox CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/fancb/jquery.fancybox.css">

    <!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/animate.css">

    <!-- meanmenu CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/meanmenu.min.css">

    <!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/normalize.css">

    <!-- main CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/main.css">

    <!-- nivo-slider CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/nivo-slider.css">

    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/style.css">

    <!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="~/site/css/responsive.css">

    <!-- Toastr CSS
    ============================================ -->
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />


    <script src="~/site/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="home-1">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start main area -->
    <div class="main-area">
        <!-- Start header -->
        <header>

            <!-- Start logo and search area -->
            <div class="logo-and-search-area">
                <div class="container">
                    <div class="row">

                        <div>
                            <!-- Start user info adn search -->
                            <div class="user-info-adn-search">
                                <div class="user-info">
                                    <p>

                                        <a asp-action="DashBoard" asp-controller="Home"><i class="fa fa-user"></i> @User.Identity.Name</a>
                                        <a asp-action="LogOut" asp-controller="Account"><i class="fa fa-key"></i> خروج</a>

                                    </p>
                                </div>
                                <div class="search-and-cart">
                                    <div class="search-categori">
                                        <div class="search-box">
                                            <form action="#">
                                                <button type="submit">جستجو</button>
                                                <input type="text" class="form-control input-sm" maxlength="64" placeholder="نام کتاب یا ناشر  ..." />

                                            </form>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="shoping-cart">
                                        <a asp-action="DashBoard" asp-controller="Home"><span>@ViewBag.FullName</span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End user info adn search -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End logo and search area -->
            <!-- Start mainmenu-area -->
            <div class="mainmenu-area">
                <div class="container">
                    <div class="row">
                        <div class="mainmenu">
                            <nav>
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Book"><span>لیست کلیه کتاب ها</span></a></li>
                                    <li><a href="#"><span>لیست رزرو من</span></a></li>
                                    <li><a href="#"><span>لیست کتاب های آزاد</span></a></li>
                                    <li><a href="#"><span>لیست کتاب های امانت من</span></a></li>

                                    <li><a href="http://mahallat.ac.ir/"><span>سایت دانشگاه</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End mainmenu-area -->
            <!-- Start mobile menu -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 np">
                            <div class="">
                                <nav id="dropdown">
                                    <ul class="nav">
                                        <li><a href="#"><span>لیست کلیه کتاب ها</span></a></li>
                                        <li><a href="#"><span>لیست رزرو من</span></a></li>
                                        <li><a href="#"><span>لیست کتاب های آزاد</span></a></li>
                                        <li><a href="mahallat.ac.ir"><span>سایت دانشگاه</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End mobile menu -->
        </header>
        <!-- End header -->
        <!--Start Content-->

        @RenderBody()

        <!--End Content-->
        <!-- Start footer -->
        <footer>


            <!-- Start footer copyright -->
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="copyright-text">
                                <p><a href="https://hamedhajiloo.github.io/">حامد حاجیلو</a></p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End footer copyright -->
        </footer>
        <!-- End footer -->
    </div>
    <!-- End main area -->
    <!-- JS -->
    <!-- jquery-1.11.3.min js
    ============================================ -->
    <script src="~/site/js/vendor/jquery-1.11.3.min.js"></script>

    <!-- bootstrap js
    ============================================ -->
    <script src="~/site/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js
    ============================================ -->
    <script src="~/site/js/owl.carousel.min.js"></script>

    <!-- jquery.nivo.slider.pack js
    ============================================ -->
    <script src="~/site/js/jquery.nivo.slider.pack.js"></script>

    <!-- jqueryui js
    ============================================ -->
    <script src="~/site/js/jquery.fancybox.js"></script>

    <!-- jquery.scrollUp.min js
    ============================================ -->
    <script src="~/site/js/jquery.scrollUp.min.js"></script>

    <!-- wow js
    ============================================ -->
    <script src="~/site/js/wow.js"></script>

    <!-- jquery.meanmenu js
    ============================================ -->
    <script src="~/site/js/jquery.meanmenu.js"></script>

    <!-- plugins js
    ============================================ -->
    <script src="~/site/js/plugins.js"></script>

    <!-- main js
    ============================================ -->
    <script src="~/site/js/main.js"></script>


    <!-- toastr js
    ============================================ -->
    <script src="~/lib/toastr/toastr.min.js"></script>
    @RenderSection("Script", false)
</body>

</html>


