<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>پنل مدیریت قارون</title>
    <!-- Favicon-->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Plugins Core Css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- You can choose a theme from css/styles instead of get all themes -->
    <link href="~/assets/css/styles/all-themes.css" rel="stylesheet" />

    <!-- toastr css -->
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />

</head>
<body class="light rtl">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="~/assets/images/loading.png" width="20" height="20" alt="User Panel">
            </div>
            <p>لطفا صبر کنید...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                   aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" asp-action="DashBoard" asp-controller="Home">
                    <span class="logo-name">@ViewBag.FullName</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">

            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">

                    <li class="active">
                        <a asp-action="DashBoard" asp-controller="Home">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>داشبورد</span>
                        </a>

                    </li>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fas fa-book"></i>
                            <span>مدیریت کتاب ها</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a asp-action="GetReserve" asp-controller="Book">کتاب های رزرو شده</a>
                            </li>
                            <li>
                                <a asp-action="GetBorrow" asp-controller="Book">کتاب های امانت گرفته شده</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fas fa-hand-point-up"></i>
                            <span>
                                جریمه ها
                            </span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a asp-action="GetReservePenalty" asp-controller="Book">جریمه بابت رزرو</a>
                            </li>
                            <li>
                                <a asp-action="GetBorrowPenalty" asp-controller="Book">
                                    جریمه بابت امانت گرفتن
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Home" class="menu-toggle">
                            <i class="fas fa-home"></i>
                            <span>
                                صفحه اصلی
                            </span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="ChangePassword" asp-controller="Account" class="menu-toggle">
                            <i class="fas fa-key"></i>
                            <span>
                               تغییر رمز عبور
                            </span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="LogOut" class="menu-toggle">
                            <i class="fas fa-sign-out"></i>
                            <span>
                                خروج
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
    </div>
    <section class="content">
        @RenderBody()
    </section>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/chart.min.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/admin.js"></script>
    <script src="~/assets/js/pages/dashboard/dashboard3.js"></script>
    <!-- Knob Js -->
    <script src="~/assets/js/pages/todo/todo.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    @RenderSection("Script", false)
</body>
</html>
