@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
     var Code =StatusCodes.Status400BadRequest;
            var Message = "خطایی رخ داده است";
            var Title = $"خطای {400}";

            var errorCode = Code;
            if (errorCode==404)
            {
                ViewBag.Code = StatusCodes.Status404NotFound;
                ViewBag.Message = "صفحه مورد نظر یافت نشد";
                ViewBag.Title = $"خطای {404}";
            }

            if (errorCode == 500)
            {
                ViewBag.Code = StatusCodes.Status500InternalServerError;
                ViewBag.Message = "خطای سرور رخ داده است";
                ViewBag.Title = $"خطای {500}";
            }

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link href="~/lib/Error/css/style.css" rel="stylesheet" />

</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>@ViewBag.Code</h1>
                <h2>@ViewBag.Message</h2>
            </div>
            @Html.ActionLink("صفحه اصلی", "Index", "Home")
        </div>
    </div>

</body>

</html>
