@using Entities;
@model List<Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.Id;
}



<div class="container">

    <div id="productinfo">
        <br />
        <br />
        @{ Html.RenderPartial("_ItemsList", Model); }
    </div>
    <div id="MoreInfoDiv">
    </div>
    <div align="center" style="margin-bottom: 9px;">
        <span id="moreInfoButton" style="width: 90%;" class="btn btn-info">بیشتر</span>
    </div>
    <div id="ProgressDiv" align="center" style="display: none">
        <br />
        <img src="@Url.Content("~/images/loadingAnimation.gif")" alt="loading..." />
    </div>

    <!--##########################################################-->

</div>
@section Script{
    <script type="text/javascript">
        var AddToReserve = function (id) {
            var id = id;
            $.ajax({
                type: "Get",
                url: "/Book/Reserve/" + id + "",
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json",
                success: function (response) {
                    if (response == "با موفقیت رزرو شد") {
                        toastr.success(response);
                    }
                    else {
                        toastr.error(response);
                    }
                },
                failure: function (response) {
                    toastr.error(response);
                }
            });

        }


        $(document).ready(function () {
            
              jQuery("#moreInfoButton").InfiniteScroll({
        moreInfoDiv: '#MoreInfoDiv',
        progressDiv: '#ProgressDiv',
        loginUrl: '/Account/Login',
        id:@id,
        errorHandler: function () {
            alert('خطایی رخ داده است');
        },
        completeHandler: function () {
            // اگر قرار است روی اطلاعات نمایش داده شده پردازش ثانوی صورت گیرد
        },
        noMoreInfoHandler: function () {
            alert('اطلاعات بیشتری یافت نشد');
        }
    });
        });        

    </script>

}